---
BasedOnStyle: LLVM
AlignAfterOpenBracket: DontAlign
BinPackArguments: true
BinPackParameters: true
BreakBeforeBraces: Mozilla
IndentWidth: 4
ContinuationIndentWidth: 4
AllowAllParametersOfDeclarationOnNextLine: false
AllowAllArgumentsOnNextLine: false
AllowShortBlocksOnASingleLine: 'Never'
AllowShortCaseLabelsOnASingleLine: false
AllowShortFunctionsOnASingleLine: 'None'
AllowShortIfStatementsOnASingleLine: 'false'
AllowShortLoopsOnASingleLine: false
PenaltyBreakAssignment: 10000
PenaltyBreakBeforeFirstCallParameter: 100000
